{{> menu id="dashboard"}}

<section class="ui raised segment">
  <header>
    Todo List
  </header>
  <table class="ui fixed table">
    <thead>
      <tr>
        <th>Todo</th>
      </tr>
    </thead>
    <tbody>
      <div class="ui bulleted list">
        {{ #each todolist }}
        <tr>
          <td>{{title}}</td>
        </tr>
        {{/each}}
      </div>
    </tbody>
  </table>
</section>

<form class="ui stacked segment form" action="/dashboard/todo" method="POST">
  

</form>